.photo {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  > .photo__content {
    position: relative;
    display: block;
    text-align: left;
    > img {
      width: 100%;
      height: 100%;
    }
    height: 250px;
    width: 250px;
    border: 1px solid black;
  }
  &:hover {
    .photo__content:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0, .3);
    }
  }
}

.photo-review {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  .photo-review__fade {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .5);
  }
  .photo-review__content {
    position: relative;
    img {
      display: block;
      margin: 50px auto 0;
      width: 100%;
    }
  }
}

image-uploader {
  display: inline-block;
  padding: 15px;
  > form {
    height: 0;
    width: 0;
    opacity: 0 !important;
  }
  > .content {
    cursor: pointer;
    position: relative;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    > .glyphicon {
      padding: 109px;
      font-size: 30px;
      font-weight: 100;
    }
    > .file-progress {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: green;
    }
  }
}