<div class="container-fluid">
    <h1>Альбомы</h1>
    <div class="row">
        <div class="photo" ng-repeat="photoset in $ctrl.photosets" >
            <a class="photo__content" href="#/albums/{{photoset.id}}">
                <img ng-src="{{photoset.primary_photo_extras.url_s}}">
                <h4>{{photoset.title._content}}</h4>
            </a>
        </div>
    </div>
</div>