<div class="container-fluid">
    <h1>Фото</h1>
    <div class="row">
        <div class="photo" ng-repeat="photo in $ctrl.photos" >
            <div class="photo__content" ng-click="$ctrl.showPhoto(photo.url_o, photo.width_o)">
                <img ng-src="{{photo.url_s}}">
                <h4>{{photo.title}}</h4>
            </div>
        </div>
        <image-uploader get-photo-id="$ctrl.getPhotoId(photoId)"></image-uploader>
    </div>
</div>

<div class="photo-review" ng-if="$ctrl.review"  ng-click="$ctrl.hidePhoto()">
     <div class="photo-review__fade"></div>
    <div class="container photo-review__content">
        <img ng-src="{{$ctrl.review}}" ng-style="{maxWidth: {{$ctrl.reviewWidth}}}">
    </div>
</div>